p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myClass {
    font-style: italic;
}

#myId {
    color: red;
}

p[title="attribute"] {
    text-decoration: underline;
}

p:hover {
    font-weight: bold;
    color: green;
}