p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#flower::after {
    content: '🌺';
}

#plane::before {
    content: '✈️';
}

#dog::before, #dog::after {
    content: '🐶';
}

#warning::before, #warning::after {
    content: '⚠️⚠️';
}